﻿
@model FizzBuzz.Models.FizzBuzzModel


<div>
    <h3>FizzBuzz</h3>
</div>


<!DOCTYPE html>
<html>
<head>
    <title>FizzBuzz</title>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: 10pt;
        }

        table {
            border: 1px solid #ccc;
            border-collapse: collapse;
            background-color: #fff;
        }

            table th {
                background-color: #B8DBFD;
                color: #333;
                font-weight: bold;
            }

            table th, table td {
                padding: 5px;
                border: 1px solid #ccc;
            }

            table, table table td {
                border: 0px solid #ccc;
            }
    </style>
</head>
<body>
    @using (Html.BeginForm("Index", "FizzBuzz", FormMethod.Post))
    {
    <div class="row">
        <div class="col-md-4 col-md-offset-4">

            @foreach (var number in Model.fizzBuzzNum)
            {
            if (number == "FizzBuzz")
            {
            <span class="fizz">Fizz</span><span class="buzz">Buzz</span> }
            else
            {
            <span class="@number.ToLower()"> @number</span> }
            <br />}

        </div>
    </div>
    <br />
    <table cellpadding="0" cellspacing="0">
        <tr>
            @for (int i = 1; i <= Model.pageCount; i++)
            {
            <td>
                @if (i != Model.currentPageIndex)
                {
                <a href="javascript:PagerClick(@i,@Model.userInptVal);">@i</a>
                }
                else
                {
                <span>@i</span>
                }
            </td>
            }
        </tr>
    </table>
    
    <input type="hidden" id="hfCurrentPageIndex" name="currentPageIndex" />
    }
    <script type="text/javascript">
        function PagerClick(index, inputVal) {
            document.getElementById("hfCurrentPageIndex").value = index;
            window.location.href = "../FizzBuzz/FizzBuzz?_value=" + inputVal + "&_page="+ index ;
        }
    </script>
</body>
</html>

