﻿@model FizzBuzz.Models.FizzBuzzModel
@{ ViewBag.Title = "FizzBuzz"; }

<div class="jumbotron">
    <h1>FizzBuzz</h1>
</div>

<form action="/FizzBuzz/Index" method="POST">
    <div class="row">
        <div class="col-md-8 col-md-offset-4">
            @Html.TextBoxFor(m => m.userInptVal)
            @Html.ValidationMessageFor(m => m.userInptVal)
        </div>
    </div>
    <div style="margin-top:50px;">
        <input type="submit" class="btn btn-success" value="Submit" />
    </div>

</form>
